In [1]:
24

24

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

10は入らない

In [5]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [6]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [2]:
address.split('o')

NameError: name 'address' is not defined

分割の場所えお定めている
分割の場所がoになっている

In [3]:
address.upper()

NameError: name 'address' is not defined

26番　　あるデータ型だけが独自に持っている関数のことをメソッドという

In [9]:
address

'Tokyo,Japan'

In [11]:
address.index('T')

SyntaxError: EOL while scanning string literal (<ipython-input-11-b76ab6027a00>, line 1)

In [15]:
lower(taro)

NameError: name 'lower' is not defined

In [17]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = C
print(result)

4 days, 0:00:00

In [19]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 12, 31)
result = date_b - date_a
print(result)

365 days, 0:00:00

In [20]:
date_a

datetime.date(2008, 1, 1)

In [21]:
date_a.year

2008

In [23]:
date_a.weekday()

1

括弧あり；何らかの処理をする

括弧なし：データにアクセスするだけ←属性

In [24]:
birthday = date(1997,9,11)

In [35]:
date_c = date(2017,5,17)

In [45]:
life=date.today() -birthday

In [47]:
print(life)

-117 days, 0:00:00

In [48]:
birthday.weekday()

0

In [44]:
date.today()

datetime.date(2017, 5, 17)

In [4]:
date.today()

NameError: name 'date' is not defined